<template>
    <EasyDataTable :empty-message="t('global.table.noData')"
                   :filter-options="filterOptions"
                   :headers="headers"
                   :hide-footer="isSoloItem"
                   :hide-rows-per-page="true"
                   :items="items"
                   :loading="isLoading"
                   :rows-of-page-separator-message="t('global.table.of')"
                   :rows-per-page="isSoloItem ? 1 : 10"
                   :search-value="searchValue"
                   :table-min-height="0"
                   alternating
                   buttons-pagination
                   header-item-class-name="vue3-easy-data-table__header-item"
                   row-item-class-name="vue3-easy-data-table__row-item"
                   theme-color="#00ADEE">
        <template #item-status="item">
            <div class="tag">
                <p>{{ item.status }}</p>
            </div>
        </template>
        <template #item-actions="item">
            <p v-if="item && item.actions" class="vue3-easy-data-table__actions">
                <router-link v-if="item.actions.view"
                             v-tippy="t(`global.actions.view`)"
                             :to="item.actions.view"
                             class="vue3-easy-data-table__action">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-eye"
                         viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                </router-link>
                <router-link v-if="item.actions.pointer"
                             v-tippy="`Pointer`"
                             :to="item.actions.pointer"
                             class="vue3-easy-data-table__action">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-hand-index-thumb"
                         viewBox="0 0 16 16">
                        <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025" />
                    </svg>
                </router-link>
                <router-link v-if="item.actions.edit"
                             v-tippy="`Modifier`"
                             :to="item.actions.edit"
                             class="vue3-easy-data-table__action">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-pencil-square"
                         viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </router-link>
                <button v-if="item.actions.delete"
                        v-tippy="t(`global.actions.delete`)"
                        class="vue3-easy-data-table__action red-bg"
                        type="button"
                        @click="handleDelete(item)">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="25"
                         height="25"
                         fill="currentColor"
                         class="bi bi-trash"
                         viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                </button>
            </p>
        </template>
    </EasyDataTable>
</template>

<script lang="ts" setup>
    import type { FilterOption, Header, Item } from 'vue3-easy-data-table'
    import { useI18n } from 'vue3-i18n'

    const { t } = useI18n()

    // eslint-disable-next-line
    defineProps<{
        headers: Header[]
        items: Item[]
        filterOptions?: FilterOption[]
        isLoading?: boolean
        searchValue?: string
        isSoloItem?: boolean
    }>()

    // eslint-disable-next-line
    const emit = defineEmits<{
        (event: "delete", item: any): void
    }>()

    function handleDelete(item: any) {
        emit("delete", item)
    }
</script>

<style scoped>
    svg {
        color: black;
    }
</style>


