﻿<template>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <router-link :to="t('routes.home.path')" class="navbar-brand">
                        <img src="https://www.lineaires.com/var/site/storage/images/_aliases/large/3/5/8/4/4344853-1-fre-FR/sensei1.jpg"
                             alt="logo"
                             class="rounded"
                             width="100"
                             height="100" />
                    </router-link>
                </div>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button @click="logout" class="btn btn-light nav-link bg-body-tertiary" exact>
                                <i class="bi bi-box-arrow-right"><strong>{{t('global.logout')}}</strong></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>


<script lang="ts" setup>
        import { useI18n } from "vue3-i18n";
    const {t }=useI18n()
    function logout() {
        window.location.replace("/Authentication/Logout/")
    }
</script>
