<template>
    <div class="d-flex justify-content-end">
            <input type="search"
                   name="search"
                   id="search"
                   :value="modelValue"
                   :placeholder="t('global.search')"
                   @input="handleInput"
                   class=" w-25 m-2 form-control ">

    </div>

</template>

<script setup lang="ts">
import { useI18n } from "vue3-i18n";

const { t } = useI18n();

// eslint-disable-next-line
defineProps<{
  modelValue: string | undefined
}>();

// eslint-disable-next-line
const emit = defineEmits<{
  // states that the event has to be called 'update:modelValue'
  (event: "update:modelValue", value: string): void;
}>();

function handleInput(e: Event) {
  const value = (e.target as HTMLInputElement).value;
  emit("update:modelValue", value);
}
</script>
