<template>
    <NavBar />
    <nav>
        <router-link :to="t('routes.home.path')"> {{ t('global.home') }} </router-link> |
        <router-link :to="{name:'creation'}">{{ t('global.create') }}</router-link>
    </nav>

    <RouterView v-slot="{Component}">
        <template v-if="Component">
            <Suspense>
                <component :is="Component" />
                <template #fallback>
                    <p>Chargement...</p>
                </template>
            </Suspense>
        </template>
    </RouterView>
    <!--<router-view />-->
</template>



<script lang="ts" setup>
    import NavBar from '@/components/NavBar.vue'
    import { useI18n } from "vue3-i18n";

    const {t }=useI18n()
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>


