<template>
    <div class="content-grid">
            <h1>{{t('global.notfound')}}</h1>
    </div>
</template>

<script lang="ts" setup>
    import { useI18n } from "vue3-i18n";
    const { t } = useI18n()
    </script>