<template>
    <div class="container-fluid">
        <SearchInput v-model="searchValue" />

        <DataTable :headers="regleHeader"
                   :is-loading="enChargement"
                   :search-value="searchValue"
                   :items="tableProduits"
                   @delete="deleteRegle" />
    </div>
</template>

<script lang="ts" setup>
    import DataTable from "@/components/DataTable.vue";
    import SearchInput from "@/components/SearchInput.vue"
    import { useProductService } from "@/inversify.config"
    import { notifyError, notifySuccess } from "@/notify";
    import { useI18n } from "vue3-i18n";
    import {ObjectId} from "@/types";

    import { ref, computed, onMounted } from "vue";
    import { product } from "../types";
    const { t } = useI18n()

    const productService = useProductService()

    const lesProduits = ref<product[]>([])

    const tableProduits = computed(() => {

        return lesProduits.value.map((x: product) => {
            return {
                id: x.id,
                name: (x.name) ?? '',
                quantite: x.quantite ?? "Vide",
                unit_Price: x.unit_Price ?? "Vide",
                actions: {
                    delete: true,
                    view: { name: `produit`, params:{id:x.id} }
                }
            }
        }).sort((a: any, b: any) => {
            if (a.name < b.name) {
                return -1;
            }
            if (a.name > b.name) {
                return 1;
            }
            return 0;
        }) as product[];

    })

    const enChargement = ref(false)
    const searchValue = ref("");


    onMounted(async () => {

        await chargerProduits();
    });

    async function chargerProduits() {

        enChargement.value = true;
        let produits = await productService.getAllProducts();
        if (produits && produits.length > 0) {
            lesProduits.value = produits;
        }
        enChargement.value = false;
    }


    async function deleteRegle(product: any) {
        if (product?.id == null || !ObjectId.isValid(product.id ?? ""))
            return

        let confirmDelete = confirm(t("global.delete.confirmation"));
        if (!confirmDelete)
            return;

        let response = await productService.deleteProduct(product.id)
        if (response.succeeded) {
            lesProduits.value = lesProduits.value.filter(x => x.id !== product.id)
            notifySuccess(t('global.delete.success'))
        } else {
            let errorMessages = response.getErrorMessages('global.delete',
                'global.delete.errorOccured')

        notifyError(errorMessages[0])
        }
    }

    const regleHeader = [
        {
            text: t("global.table.name"),
            value: "name",
            sortable: true,
            width: 150,
        },
        {
            text: t("global.table.quantity"),
            value: "quantite",
            sortable: true,
            width: 150,

        },
        {
            text: t("global.table.unitprice"),
            value: "unit_Price",
            sortable: true,
            width: 150,

        },
        {
            text: t("global.table.actions"),
            value: "actions",
            width: 75
        },
    ];
</script>
