﻿<template>
    <div class=" d-flex justify-content-center">
        <form class="shadow p-2" @submit.prevent="submitForm" novalidate>
            <h4>======{{t('routes.produit.name')}}========</h4>
            <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-0" v-model="produit.name" :disabled="disabled" @input="inputname($event)" @blur="effacerEspace($event)" id="name" placeholder="">
                <label for="name">{{t('global.name')}}</label>
                <div class="invalid-feedback">{{t('global.validation.nom')}}</div>

            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control rounded-0 " v-model="produit.quantite" :disabled="disabled" @input="inputqantity($event)" @blur="effacerEspace($event)" id="qantity" placeholder="">
                <label for="qantity">{{t('global.quantity')}}</label>
                <div class="invalid-feedback">{{t('global.validation.quantite')}}</div>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control rounded-0 " v-model="produit.unit_Price" :disabled="disabled" @input="inputunitPrice($event)" @blur="effacerEspace($event)" id="unitPrice" placeholder="">
                <label for="unitPrice">{{t('global.unitprice')}}</label>
                <div class="invalid-feedback">{{t('global.validation.unitprice')}}</div>
            </div>
            <div class="d-flex justify-content-end" v-if="disabled">
                <button class="btn btn-primary" type="button" @click="modeEdit">{{t('global.editer')}}</button>
            </div>
            <div v-else class="d-flex justify-content-between">
                <button class="btn btn-danger" type="button" @click="annuler"> {{t('global.annuler')}}</button>
                <button class="btn btn-primary" type="submit"> {{t('global.submit')}}</button>
            </div>

        </form>

    </div>
</template>

<script lang="ts" setup>
    import { useI18n } from "vue3-i18n";
    import { notifyError, notifySuccess } from "@/notify";
    import { useRouter } from "vue-router"
    import { useProductService } from "@/inversify.config"

    import { ref, onMounted } from "vue";

    import { product } from "@/types/entities";
import { IEditProductRequest } from "../types/requests";

    // eslint-disable-next-line no-undef
    const props = defineProps<{
        id: string
    }>();
    const disabled = ref<boolean>(true)
    const productService = useProductService()
    const router = useRouter();
    const produit = ref<product>(await productService.getProduct(props.id))
        const validName = ref<boolean>(true)
    const validQuantite = ref<boolean>(true)
    const validUnit = ref<boolean>(true)

    function annuler() {
        setTimeout(() => {
            router.push({name:t("routes.home.name")});
        }, 1500);
    }

    function modeEdit() {
        disabled.value = false
    }

    async function submitForm() {
                if (!validName.value || !validQuantite.value || !validUnit.value)
            return

        let succeededOrNotResponse = await productService.editProduct(produit.value as IEditProductRequest)
        if (succeededOrNotResponse && succeededOrNotResponse.succeeded) {
            notifySuccess(t('global.edit.success'))
            setTimeout(() => {
                router.replace({name:t("routes.home.name")});
            }, 1500);
        } else {
            let errorMessages = succeededOrNotResponse.getErrorMessages('global.edit','global.edit.errorOccured');

            notifyError(errorMessages[0])


        }
    }

    function effacerEspace(event: any) {
        event.target.value = event.target.value.trim()
        if (!event.target.value)
            event.target.classList.remove("is-valid")    }

    function inputname(event: any) {
        const input = event.target
        if (/^[^\s].{2,49}$/.test(input.value.trim())) {
            input.classList.remove("is-invalid")
            input.classList.add("is-valid")
            validName.value = true

        } else {
            input.classList.add("is-invalid")
            input.classList.remove("is-valid")
            validName.value = false


        }
    }

    function inputqantity(event: any) {
        const input = event.target

        if (input.value&&!isNaN(input.value.trim()) && input.value.trim() >= 0 && Number.isInteger(Number(input.value.trim()))) {
            input.classList.remove("is-invalid")
            input.classList.add("is-valid")
            validQuantite.value = true
        } else {
            input.classList.add("is-invalid")
            input.classList.remove("is-valid")
            validQuantite.value = false


        }
    }

    function inputunitPrice(event: any) {
        const input = event.target
        if (input.value&&!isNaN(input.value.trim()) && input.value.trim() >= 0) {
            input.classList.remove("is-invalid")
            input.classList.add("is-valid")
            validUnit.value = true


        } else {
            input.classList.add("is-invalid")
            input.classList.remove("is-valid")
            validUnit.value = false

        }
    }

    const { t } = useI18n()

</script>
