﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | productAffiche</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <main id="main">
        <div class="page">
            <div class="container">
                <div class="grid__row grid__row--aic grid__row--jcc">
                    <div class="grid__col grid__col--sm-6 grid__col--lg-4">
                        <div flashes></div>

                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer style="background-color: #7AC142;" class=" text-center">
        <div class="container">
            &copy; 2024 - productAffiche
        </div>
    </footer>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>